<html>
    <head>
        <title>asd</title>
        <!--
        {{ require_js_initialize() }}
        <script type="text/javascript">require(['main'])</script>
        -->
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>